<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pruebaGit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7176B1351CC17B3900EE1E3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7176B1491CC17B3A00EE1E3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7176B1541CC17B3A00EE1E3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
